@import "tailwindcss";

/* Anime Navbar Shine Animation */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}